{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="container">
        {% for message in app.flashes('sucess') %}
            <div class="alert alert-sucess mt-4">
                {{ message }}
            </div>
        {% endfor %}
        <h1>Contact form</h1>

        {{ form(form) }}
        </div>
    {% endblock %}
